@media(min-width: 768px) {
    .news-input{
        width: 50%;
    }
}

















































































/* 
a{
    text-decoration: none;
    color: white;
}



.tc{    
    text-align: center;
    color: wheat;
}

.card{
    background-color: black;
    height: 200px;
}
.cards{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 0;
    
}

h1{
    text-align: center;
} */